<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <superSocket logFactory="ConsoleLogFactory" disablePerformanceDataCollector="true">
    <servers>
      <server name="TestServer" serverTypeName="TestServer" maxConnectionNumber="100">
        <listeners>
          <add ip="Any" port="2012" />
          <add ip="Any" port="2013" />
        </listeners>
      </server>
    </servers>
    <serverTypes>
      <add name="TestServer"
           type="SuperSocket.Test.TestServer, SuperSocket.Test" />
    </serverTypes>
    <logFactories>
      <add name="ConsoleLogFactory"
           type="SuperSocket.SocketBase.Logging.ConsoleLogFactory, SuperSocket.SocketBase" />
    </logFactories>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
