<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <superSocket logFactory="ConsoleLogFactory"
               disablePerformanceDataCollector="true"
               maxWorkingThreads="500"
               maxCompletionPortThreads="500"
               minWorkingThreads="5"
               minCompletionPortThreads="5">
    <servers>
      <server name="TestServer"
              serverType="SuperSocket.Test.TestServer, SuperSocket.Test"
              ip="Any"
              port="2012"
              clearIdleSession="true"
              clearIdleSessionInterval="1"
              idleSessionTimeOut="5"
              maxConnectionNumber="100"
              security="tls">
        <certificate filePath="supersocket.pfx" password="supersocket"></certificate>
      </server>
    </servers>
    <logFactories>
      <add name="ConsoleLogFactory"
           type="SuperSocket.SocketBase.Logging.ConsoleLogFactory, SuperSocket.SocketBase" />
    </logFactories>
  </superSocket>
</configuration>
