<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
        <section name="socketServer" type="SuperSocket.SocketServiceCore.Configuration.SocketServiceConfig, SuperSocket.SocketServiceCore"/>
    </configSections>
    <appSettings>
        <add key="ServiceName" value="SupperSocketService"/>
    </appSettings>
    <connectionStrings />
    <socketServer>
        <servers>
            <add name="GiantSoft FTP Server" serviceName="ftp" ip="Any" port="21" mode="Sync"
                 provider="XmlFtpProvider" enableManagementService="false"
                 maxConnectionNumber="100">
                <parameters>
                    <add name="userSetting" value="FtpUser.xml" />
                    <add name="dataPort" value="2100-2200" />
                </parameters>
            </add>
        </servers>
        <services>
            <add serviceName="ftp" type="GiantSoft.Ftp.FtpService.FtpServer, GiantSoft.Ftp.FtpService">
                <providers>
                    <add name="XmlFtpProvider" value="GiantSoft.Ftp.XmlConfigFTP" />
                </providers>
            </add>
        </services>
        <!--<certificate certificateFilePath="" certificatePassword="" />
        <credential userName="admin" password="123456" />-->
    </socketServer>
    <loggingConfiguration configSource="config\dynamicLogging.config" />
</configuration>