<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
		<section name="socketServer" type="GiantSoft.SocketServiceCore.Configuration.SocketServiceConfig, GiantSoft.SocketServiceCore"/>
	</configSections>
	<appSettings>
		<add key="ConfigPath" value="FtpService.config"/>
	</appSettings>
	<connectionStrings>
		<add name="MainSite" providerName="System.Data.SqlClient" connectionString="Database=GiantFTP;Server=(local);uid=sa;pwd=kerryjiang;"/>
	</connectionStrings>
	<socketServer>
		<servers>
		  <add name="GiantSoft FTP Server" serviceName="ftp" ip="127.0.0.1" port="21" provider="XmlFtpProvider" enableManagementService="false">
			<parameters>
				<add name="configFile" value="Ftp.xml" />
				<add name="dataPort" value="2100-2200" />
			</parameters>        
		  </add>
			<add name="GiantSoft FTP Server 2" serviceName="ftp" ip="127.0.0.1" port="21" provider="XmlFtpProvider" disabled="true">
				<parameters>
					<add name="config" value="Ftp.xml"/>
					<add name="dataPort" value="22" />
				</parameters>
			</add>
		  <add name="GiantSoft SMTP Server" serviceName="smtp" ip="127.0.0.1" port="25" provider="SimpleFtpProvider" disabled="true" />
		</servers>
		<services>
		  <add serviceName="ftp" baseAssembly="GiantSoft.FtpService.FtpServer, GiantSoft.FtpService">
			  <providers>
				  <add name="XmlFtpProvider" value="GiantSoft.XmlConfigFTP" />
			  </providers>
		  </add>
		  <!--add serviceName="smtp" provider="" baseAssembly="GiantSoft.FtpService.FtpServiceProviderFactory, GiantSoft.FtpService" /-->
		</services>
		<certificate certificateFilePath="" certificatePassword="" />
		<credential userName="admin" password="123456" />
	</socketServer>	
	<dataConfiguration defaultDatabase="MainSite"/>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true"
	   defaultCategory="" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add fileName="Logs\error.log" header="----------------------------------------"
                footer="----------------------------------------" formatter="Text Formatter"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
                traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
                name="ErrorListener" />
			<add fileName="Logs\perf.log" formatter="PlainTextFormatter"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
                traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
                name="PerformListener" />
			<add fileName="Logs\info.log" formatter="PlainTextFormatter"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
                traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
                name="InfoListener" />
		</listeners>
		<formatters>
			<add template="Timestamp: {timestamp(local)}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
                type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
                name="Text Formatter" />
			<add template="Timestamp: {timestamp(local)} - Message: {message}&#xD;&#xA;"
                type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
                name="PlainTextFormatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="Perf">
				<listeners>
					<add name="PerformListener" />
				</listeners>
			</add>
			<add switchValue="All" name="Info">
				<listeners>
					<add name="InfoListener" />
				</listeners>
			</add>
			<add switchValue="All" name="Error">
				<listeners>
					<add name="ErrorListener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<notProcessed switchValue="All" name="Unprocessed Category">
				<listeners>
					<add name="ErrorListener" />
				</listeners>
			</notProcessed>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="ErrorListener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
</configuration>