<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService" />
  </appSettings>
  <connectionStrings/>
  <socketServer>
    <servers>
      <server name="YourServerInstanceName"
              serviceName="YourService"
              ip="Any" port="2020"
              mode="Async"
              maxConnectionNumber="100">
      </server>
    </servers>
    <services>
      <service name="YourService" type="YourServiceServerType, YourServiceAssembly" />
    </services>
  </socketServer>
  <startup>
    <supportedRuntime version="v2.0.50727" sku=".NETFramework,Version=v3.5" />
  </startup>
</configuration>
