<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
    </configSections>
    <appSettings>
        <add key="ServiceName" value="EchoService"/>
    </appSettings>
    <socketServer loggingMode="IndependantFile">
        <servers>
            <server name="TestServer"
                    serviceName="PerformanceTestService"
                    ip="Any"
                    port="911"
                    mode="Async"
                    maxConnectionNumber="12000">
            </server>
        </servers>
        <services>
            <service name="PerformanceTestService"
                     type="PerformanceTestServer.TestServer, PerformanceTestServer" />
        </services>
        <connectionFilters>
        </connectionFilters>
    </socketServer>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
</configuration>