<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <socketServer disablePerformanceDataCollector="true">
    <servers>
      <server name="TestServer" serviceName="TestServer"
              id="Any" port="2012" maxConnectionNumer="5">
        <children globalValue="8848">
          <add value="10" />
          <add value="20" />
          <add value="30" />
        </children>
        <child value="168" />
      </server>
    </servers>
    <services>
      <service name="TestServer"
           type="SuperSocket.Test.ChildrenConfigTestServer, SuperSocket.Test" />
    </services>
  </socketServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
