<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SuperSocket"/>
  </appSettings>
  <superSocket>
    <servers>
      <server name="ServerA"
              serverTypeName="SampleServer"
              ip="Any" port="2012">
        <commandAssemblies>
          <add assembly="SuperSocket.QuickStart.SampleServer.CommandAssemblyA"></add>
          <add assembly="SuperSocket.QuickStart.SampleServer.CommandAssemblyB"></add>
        </commandAssemblies>
      </server>
      <server name="ServerB"
              serverTypeName="SampleServer"
              ip="Any" port="2013">
        <commandAssemblies>
          <add assembly="SuperSocket.QuickStart.SampleServer.CommandAssemblyB"></add>
          <add assembly="SuperSocket.QuickStart.SampleServer.CommandAssemblyC"></add>
        </commandAssemblies>
      </server>
      <server name="ManagementServer"
              serverType="SuperSocket.ServerManager.ManagementServer, SuperSocket.ServerManager"
              excludedServers="SilverlightPolicyServer">
        <listeners>
          <add ip="Any" port="4502" />
        </listeners>
        <users>
          <user name="kerry" password="123456"/>
        </users>
      </server>
      <!--The silverlight policy server is for silverlight management client-->
      <server name="SilverlightPolicyServer"
              serverType="SuperSocket.Facility.PolicyServer.SilverlightPolicyServer, SuperSocket.Facility"
              ip="Any" port="943"
              receiveBufferSize="32"
              maxConnectionNumber="10"
              policyFile="Config\Silverlight.config"
              clearIdleSession="true">
      </server>
    </servers>
    <serverTypes>
      <add name="SampleServer"
           type="SuperSocket.QuickStart.ServerManagerSample.SampleServer, SuperSocket.QuickStart.ServerManagerSample" />
    </serverTypes>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>