<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="superSocket"
             type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService" />
  </appSettings>
  <superSocket logFactory="ConsoleLogFactory" disablePerformanceDataCollector="true">
    <servers>
      <server name="TerminatorServer"
              serverType="SuperSocket.QuickStart.TerminatorProtocol.TerminatorProtocolServer, SuperSocket.QuickStart.TerminatorProtocol"
              ip="Any" port="2020" receiveBufferSize="256"
              maxConnectionNumber="100">
      </server>
    </servers>
    <logFactories>
      <add name="ConsoleLogFactory"
           type="SuperSocket.SocketBase.Logging.ConsoleLogFactory, SuperSocket.SocketBase" />
    </logFactories>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>