<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
    </configSections>
    <appSettings>
        <add key="ServiceName" value="CustomProtocolService"/>
    </appSettings>
    <socketServer loggingMode="IndependantFile">
        <servers>
            <server name="CustomProtocolServer" serviceName="CustomProtocolService"
                    ip="Any" port="2012" maxConnectionNumber="1000">
            </server>
        </servers>
        <services>
            <service name="CustomProtocolService"
                     type="SuperSocket.QuickStart.CustomProtocol.CustomProtocolServer, SuperSocket.QuickStart.CustomProtocol" />
        </services>
    </socketServer>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
</configuration>