<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
		<section name="socketServer" type="SuperSocket.SocketServiceCore.Configuration.SocketServiceConfig, SuperSocket.SocketServiceCore"/>
	</configSections>
	<appSettings>
        <add key="ServiceName" value="ProcessController"/>
    </appSettings>
	<socketServer>
		<servers>
		  <server name="Kerry's Remote Process Server"
		          serviceName="remoteProcess"
		          ip="Any" port="911" mode="Async">       
		  </server>
		</servers>
		<services>
		  <service serviceName="remoteProcess"
		           type="SuperSocket.QuickStart.RemoteProcessService.RemoteProcessServer, SuperSocket.QuickStart.RemoteProcessService" />
		</services>
	</socketServer>	
  <loggingConfiguration configSource="config\logging.config" />
</configuration>