<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
    </configSections>
    <appSettings>
        <add key="ServiceName" value="SupperSocketService" />
    </appSettings>
    <connectionStrings/>
    <socketServer>
        <servers>
            <server name="FlashPolicyServer"
                    serviceName="FlashPolicyService"
                    ip="Any" port="843"
                    mode="Async"
                    receiveBufferSize="32"
                    maxConnectionNumber="100"
                    policyFile="Policy\flash.xml"
                    clearIdleSession="true">
            </server>
            <server name="SilverlightPolicyServer"
                    serviceName="SilverlightPolicyService"
                    ip="Any" port="943"
                    mode="Async"
                    receiveBufferSize="32"
                    maxConnectionNumber="100"
                    policyFile="Policy\silverlight.xml"
                    clearIdleSession="true">
            </server>
        </servers>
        <services>
            <service name="FlashPolicyService" type="SuperSocket.Facility.PolicyServer.FlashPolicyServer, SuperSocket.Facility" />
            <service name="SilverlightPolicyService" type="SuperSocket.Facility.PolicyServer.SilverlightPolicyServer, SuperSocket.Facility" />
        </services>
    </socketServer>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
</configuration>
