<?xml version="1.0" encoding="utf-8" ?>
<loggingConfiguration name="Logging Application Block" tracingEnabled="true"
	   defaultCategory="" logWarningsWhenNoCategoriesMatch="true">
  <formatters>
    <add template="Timestamp: {timestamp(local)}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Error" />
    <add template="Timestamp: {timestamp(local)} - Message: {message}&#xD;&#xA;"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Info" />
    <add template="Timestamp: {timestamp(local)} - Message: {message}&#xD;&#xA;"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Debug" />
    <add template="Timestamp: {timestamp(local)} - Message: {message}&#xD;&#xA;"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Perf" />
  </formatters>
  <specialSources>
    <notProcessed switchValue="All" name="Unprocessed Category">
      <listeners>
      </listeners>
    </notProcessed>
    <errors switchValue="All" name="Logging Errors &amp; Warnings">
      <listeners>
      </listeners>
    </errors>
  </specialSources>
</loggingConfiguration>