<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
        <section name='microsoft.scripting' requirePermission='false'
                 type='Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting'/>
    </configSections>
    <appSettings>
        <add key="ServiceName" value="SupperSocketService" />
    </appSettings>
    <connectionStrings/>
    <superSocket>
        <servers>
            <server name="YourServerInstanceName"
                    serviceName="YourService"
                    ip="Any" port="2020"
                    mode="Async"
                    maxConnectionNumber="100">
            </server>
        </servers>
        <serverTypes>
            <add name="YourService" type="YourServiceServerType, YourServiceAssembly" />
        </serverTypes>
    </superSocket>
    <microsoft.scripting>
        <languages>
            <language extensions=".py" displayName="IronPython"
                      type="IronPython.Runtime.PythonContext, IronPython"
                      names='IronPython;Python;py'/>
        </languages>
    </microsoft.scripting>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
	<runtime>
        <gcServer enabled="true" />
    </runtime>
</configuration>
