<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <socketServer>
    <servers>
      <server name="TestServer" serviceName="TestServer"
              id="Any" port="2012" maxConnectionNumer="5">
      </server>
    </servers>
    <services>
      <add name="TestServer"
           type="SuperSocket.Test.TestServer, SuperSocket.Test" />
    </services>
  </socketServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
