<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <socketServer logFactory="ConsoleLogFactory" disablePerformanceDataCollector="true">
    <servers>
      <server name="TestServer" serviceName="TestServer"
              id="Any" port="2012" maxConnectionNumer="5">
        <child value="168"></child>
      </server>
    </servers>
    <services>
      <add name="TestServer"
           type="SuperSocket.Test.ChildConfigTestServer, SuperSocket.Test" />
    </services>
    <logFactories>
      <add name="ConsoleLogFactory"
           type="SuperSocket.SocketBase.Logging.ConsoleLogFactory, SuperSocket.SocketBase" />
    </logFactories>
  </socketServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
