<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
    </configSections>
    <appSettings>
        <add key="ServiceName" value="ProcessController"/>
    </appSettings>
    <superSocket>
        <servers>
            <server name="Custom Command Server"
                    serverTypeName="customCommandService"
                    ip="Any" port="2012">
            </server>
        </servers>
        <serverTypes>
            <add name="customCommandService"
                 type="SuperSocket.QuickStart.CustomCommandParser.YourServer, SuperSocket.QuickStart.CustomCommandParser" />
        </serverTypes>
    </superSocket>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <runtime>
        <gcServer enabled="true" />
    </runtime>
</configuration>