<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService" />
  </appSettings>
  <connectionStrings/>
  <socketServer>
    <servers>
      <server name="EchoServer" serviceName="EchoService" maxConnectionNumer="10000" security="tls">
        <certificate filePath="localhost.pfx" password="supersocket" isEnabled="true"></certificate>
        <listeners>
          <listener ip="Any" port="443"></listener>
        </listeners>
      </server>
    </servers>
    <services>
      <service name="EchoService"
               type="SuperSocket.QuickStart.EchoService.EchoServer, SuperSocket.QuickStart.EchoService" />
    </services>
  </socketServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
