<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="targetServer" value="127.0.0.1" />
    <add key="targetPort" value="911" />
    <add key="concurrentCount" value="1000" />
    <add key="requestInterval" value="20" />
    <add key="readTimeout" value="1000" />
    <add key="writeTimeout" value="1000" />
  </appSettings>
</configuration>