<?xml version="1.0" encoding="utf-8" ?>
<loggingConfiguration name="Logging Application Block" tracingEnabled="true"
	   defaultCategory="Info" logWarningsWhenNoCategoriesMatch="true">
  <listeners>
    <add fileName="Logs\Error.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Error" timeStampPattern="yyyyMMdd" rollFileExistsBehavior="Overwrite" rollInterval="Day"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="ErrorListener" />
    <add fileName="Logs\Info.log" formatter="Info" timeStampPattern="yyyyMMdd" rollFileExistsBehavior="Overwrite" rollInterval="Day"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="InfoListener" />
    <add fileName="Logs\Debug.log" formatter="Debug" timeStampPattern="yyyyMMdd" rollFileExistsBehavior="Overwrite" rollInterval="Day"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="DebugListener" />
    <add fileName="Logs\Perf.log" formatter="Perf" timeStampPattern="yyyyMMdd" rollFileExistsBehavior="Overwrite" rollInterval="Day"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="PerfListener" />
  </listeners>
  <formatters>
    <add template="Timestamp: {timestamp(local)}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Error" />
    <add template="Timestamp: {timestamp(local)} - Message: {message}&#xD;&#xA;"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Info" />
    <add template="Timestamp: {timestamp(local)} - Message: {message}&#xD;&#xA;"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Debug" />
    <add template="Timestamp: {timestamp(local)} - Message: {message}&#xD;&#xA;"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Perf" />
  </formatters>
  <categorySources>
    <add switchValue="All" name="Perf">
      <listeners>
        <add name="PerfListener" />
      </listeners>
    </add>
    <add switchValue="All" name="Info">
      <listeners>
        <add name="InfoListener" />
      </listeners>
    </add>
    <add switchValue="All" name="Error">
      <listeners>
        <add name="ErrorListener" />
      </listeners>
    </add>
    <add switchValue="All" name="Debug">
      <listeners>
        <add name="DebugListener" />
      </listeners>
    </add>
  </categorySources>
  <specialSources>
    <notProcessed switchValue="All" name="Unprocessed Category">
      <listeners>
      </listeners>
    </notProcessed>
    <errors switchValue="All" name="Logging Errors &amp; Warnings">
      <listeners>
      </listeners>
    </errors>
  </specialSources>
</loggingConfiguration>