<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <superSocket logFactory="ConsoleLog" disablePerformanceDataCollector="true">
    <servers>
      <server name="TestServer" protocol="WebSocket"
              ip="Any" port="2012" maxConnectionNumber="5"
              serverType="WebSocket.Test.WebSocketServer, WebSocket.Test">
      </server>
    </servers>
  </superSocket>
</configuration>
