<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  <socketServer loggingMode="IndependantFile">
    <servers>
      <server name="EchoServer"
              serviceName="EchoService" ip="Any" port="911" mode="Async" />
      <server name="RemoteProcessServer"
              serviceName="remoteProcess" ip="Any" port="912" mode="Async" />
    </servers>
    <services>
      <service name="EchoService"
               type="SuperSocket.QuickStart.EchoService.EchoServer, SuperSocket.QuickStart.EchoService" />
      <service name="remoteProcess"
               type="SuperSocket.QuickStart.RemoteProcessService.RemoteProcessServer, SuperSocket.QuickStart.RemoteProcessService" />
    </services>
    <connectionFilters>
    </connectionFilters>
  </socketServer>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="AzureDiagnostics">
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>