<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
    </configSections>
    <appSettings>
        <add key="ServiceName" value="SuperSocket"/>
    </appSettings>
    <superSocket isolation="AppDomain">
        <servers>
            <server name="ServerA"
                    serverTypeName="SampleServer"
                    ip="Any" port="2012">
            </server>
            <server name="ServerB"
                    serverTypeName="SampleServer"
                    ip="Any" port="2013">
            </server>
        </servers>
        <serverTypes>
            <add name="SampleServer"
                 type="SuperSocket.QuickStart.AppDomainIsolation.SampleB.SampleServer, SuperSocket.QuickStart.AppDomainIsolation.SampleB" />
        </serverTypes>
    </superSocket>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <runtime>
        <gcServer enabled="true" />
    </runtime>
</configuration>