<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="superSocket"
                 type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
        <section name="microsoft.scripting" requirePermission="false"
                 type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting"/>
    </configSections>
    <appSettings>
        <add key="ServiceName" value="SuperSocket"/>
    </appSettings>
    <superSocket isolation="AppDomain">
        <servers>
            <server name="ServerA"
                    serverTypeName="SampleServer"
                    ip="Any" port="2012"
                    commandLoader="dynamicCommandLoader">
            </server>
            <server name="ServerB"
                    serverTypeName="SampleServer"
                    ip="Any" port="2013"
                    commandLoader="dynamicCommandLoader">
            </server>
        </servers>
        <serverTypes>
            <add name="SampleServer"
                 type="SuperSocket.QuickStart.AppDomainIsolation.SampleC.SampleServer, SuperSocket.QuickStart.AppDomainIsolation.SampleC" />
        </serverTypes>
        <commandLoaders>
          <add name="dynamicCommandLoader" type="SuperSocket.Dlr.DynamicCommandLoader, SuperSocket.Dlr"/>
        </commandLoaders>
    </superSocket>
    <microsoft.scripting>
      <languages>
        <language extensions=".py" displayName="IronPython"
                  type="IronPython.Runtime.PythonContext, IronPython"
                  names="IronPython;Python;py"/>
      </languages>
    </microsoft.scripting>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <runtime>
        <gcServer enabled="true" />
    </runtime>
</configuration>