<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService"/>
  </appSettings>
  <connectionStrings/>
  <socketServer>
    <servers>
      <server name="SuperWebSocketA" serviceName="SuperWebSocket" ip="Any" port="2020" mode="Async" maxConnectionNumber="100">
      </server>
      <server name="SuperWebSocketB" serviceName="SuperWebSocket" ip="Any" port="2021" mode="Async" maxConnectionNumber="100">
      </server>
      <server name="SuperWebSocketC" serviceName="SuperWebSocket" ip="Any" port="2022" mode="Async" maxConnectionNumber="100">
      </server>
      <server name="Management" serviceName="Management" ip="Any" port="4502" security="Tls" mode="Async" maxConnectionNumber="5">
        <certificate filePath="supersocket.pfx"
                     password="supersocket"
                     isEnabled="true"></certificate>
        <users>
          <user name="kerry" password="123456"/>
        </users>
      </server>
    </servers>
    <services>
      <service name="SuperWebSocket" type="SuperWebSocket.WebSocketServer, SuperWebSocket"/>
      <service name="Management" type="SuperSocket.Management.Server.ManagementServer, SuperSocket.Management.Server"/>
    </services>
  </socketServer>
</configuration>
