<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService" />
  </appSettings>
  <connectionStrings/>
  <superSocket>
    <servers>
      <server name="YourServerInstanceName"
              serverTypeName="YourService"
              ip="Any" port="2020"
              maxConnectionNumber="100">
      </server>
    </servers>
    <serverTypes>
      <add name="YourService" type="YourServiceServerType, YourServiceAssembly" />
    </serverTypes>
  </superSocket>
  <startup>
    <supportedRuntime version="v2.0.50727" sku=".NETFramework,Version=v3.5" />
  </startup>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>
