name: benchmark
on: [workflow_dispatch]
jobs:
    build:
        strategy:
          matrix:
            os:
              - ubuntu-latest
              - windows-latest
              - macos-latest
        runs-on: ${{matrix.os}}
        steps:
            - uses: actions/checkout@v1
            - name: Setup .NET Core
              uses: actions/setup-dotnet@v1
              with:
                dotnet-version: 3.1.100
            - name: Run benchmark
              run: |
                cd test/SuperSocket.Benchmarks
                dotnet run -c Release -f *