name: Build

on:
    push:
        branches:
            - master

jobs:
    build:
        strategy:
          matrix:
            os:
              - ubuntu-latest
              - windows-latest
              - macos-latest
        runs-on: ${{matrix.os}}
        steps:
            - uses: actions/checkout@v1
            - name: Setup .NET Core
              uses: actions/setup-dotnet@v1
              with:
                dotnet-version: 3.1.100
            - name: Build
              run: dotnet build -c Release
            - name: Build Samples
              run: dotnet build -c Release samples/samples.sln
            - name: Test
              run: |
                cd test/SuperSocket.Tests
                dotnet test